[Desktop Entry]
Name=Mercurygram
Comment=New era of messaging
TryExec=/home/reza/Apps/Mercurygram/Mercurygram
Exec=/home/reza/Apps/Mercurygram/Mercurygram -- %U
Icon=it.belloworld.mercurygram
Terminal=false
StartupWMClass=MercurygramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;mercurygram;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=/home/reza/Apps/Mercurygram/Mercurygram -quit
Name=Quit Mercurygram
Icon=application-exit
