[Unit]
Description=Mount Windows C Drive (NVMe) — ntfs3 kernel driver
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=LIBMOUNT_FORCE_MOUNT2=always
ExecStart=/usr/bin/mount -t ntfs3 -o force,nofail,uid=1000,gid=1000,iocharset=utf8,windows_names,prealloc,discard /dev/disk/by-id/nvme-Samsung_SSD_980_1TB_S649NL0W339435D-part3 /media/C
ExecStop=/usr/bin/umount /media/C

[Install]
WantedBy=multi-user.target
