// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "Samsung Electric Company LS32CG51x H9JWA00258" {
    mode "2560x1440@164.999" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
    variable-refresh-rate on-demand=true // VRR (FreeSync) only for games/video
}

output "HDMI-A-1" {
    mode "1920x1080@60.000" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
}
