    window-rule {
        geometry-corner-radius 10
        clip-to-geometry true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    // Floating Noctalia settings window.
    window-rule {
        match app-id="dev.noctalia.Noctalia.Settings"
        open-floating true
        default-column-width {
            fixed 1080
        }
        default-window-height {
            fixed 920
        }
    }
